*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* shared style */
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

/* main style */
header{
    background-color: #FFF8F3;
    background: url('../images/developer.png'),url('../images/header_bg.png'),#FFF8F3;
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
}
nav{
    width: 89%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.logo h2{
    font-size: 45px;
    font-weight: 900;
}
.color-orange{
    color: #FD6E0A;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}
nav .menu a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}

#banner{
    /* border: 2px solid red; */
    margin: 47px 38px 0 230px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#banner .banner-content{
    max-width: 585px;
}
#banner .banner-content h2{
    font-size: 45px;
    color: #474747;
    font-weight: 600;
    margin-bottom: 5px;
}
#banner .banner-content h1{
    font-size: 85px;
    color: #181818;
    font-weight: bold;
    margin-bottom: 20px;
}
#banner .banner-content p{
    color: #757575;
    line-height: 50px;
    font-size: 30px;
    margin-bottom: 30px;
    width: 700px;
}
#banner .banner-img img{
    max-width: 585px;
    vertical-align: middle;
}